.con{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
#bg{
    width: 100%;
   height: 100%;
}
#bg-col{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    top: 0;
    opacity: .7;
}
.name{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
    text-align: center;
}
.gap{
    padding: 100px 0;
}
.parallax{
    background: url(images/header-bg.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
    position: relative;
}
.emailing{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    color: white;
    text-align: center;
}
.emailing input[type="email"]{
    padding: 10px 100px 10px 20px;
    border: none;
    margin: 0;
    float: left;
    outline: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.emailing input[type="submit"]{
    margin: 0;
    padding: 10px 20px;
    border: none;
    float: left;
    outline: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #68c3a3;
    color: white;
    font-weight: 500;
}
.info{
    padding-right: 100px;
}
form textarea,form input[type="email"],form input[type="text"]{
    margin-right: 50px;
    width: 90%;
    padding: 15px 20px;
    border: 1px solid #E8E8E8;
    margin-bottom: 10px;
    border-radius: 5px;
}
form input[type="submit"]{
    margin: 0;
    padding: 15px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #68c3a3;
    color: white;
    font-weight: 500;
    width: 150px;
    text-align: center;
}
footer{
    text-align: center;
    padding: 30px 0;
    background-color: #262626;
    color: white;
}
h5 img{
    width: 50px;
}
.info div{
    margin-top: 50px;
    margin-left: -5px;
}
.col-md-4 img{
    width: 100px;
    height: 75px;
    margin-left: -15px;
}
.col-md-4 a{
    text-decoration: none;
    font-weight: 700;
    color: black;
    transition: .4s;
}
.col-md-4 a:hover{
    color: #68c3a3;
}
.support{
    padding: 20px;
    border-radius: 15px;
    border: 1px solid rgb(245, 242, 242);
    transition: .5s;
}
.support:hover{
    box-shadow: 1px 1px 15px rgb(161, 155, 155);
}
.name h1 span{
    color: #68c3a3;
}
.name h1{
    font-weight: 500;
    font-size: 48px;
}